html {
  scroll-behavior: smooth;
}


header {
  text-align: center;
  background-image: url(https://i.imgur.com/c9vvtZN.jpg);
  background-size: cover;
  color: beige;
}

a {
  color: beige;
}

h1 {
  font-size: 65px;
}

h2 {
  margin: 5px 0px 1px 0px;
}

img {
  margin: 40px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
}

ul {
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}

li {
  display: inline;
  padding: 0px 20px 0px 20px;

}

article {
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
}

@media (max-width: 500px) {
  h1 {
    font-size: 36px;
    padding: 5px;
  }

  li {
    padding: 5px;
    display: block;
  }
}

hr.line {
  border: 1px solid rgb(126, 127, 127);
}

hr.line2 {
  border: 1px solid rgb(126, 127, 127);
}